<!-- this view is used for the Add action and the Update action -->
@model Student
@{
    string title = ViewBag.Action + " Student";
    ViewBag.Title = title;    // sets title to "Add Student" or "Update Student"
}

<!-- since this view uses validation, it should provide the validation scripts 
     so these scripts can be inserted into the layout -->
@section scripts {
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/
                       jquery.validate.unobtrusive.min.js"></script>
}

<h1>@ViewBag.Title</h1>

<form asp-action="Update" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    

    <div class="form-group">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Grade">Grade</label>
        <input asp-for="Grade" class="form-control">
    </div>
    
    <input type="hidden" asp-for="StudentId" />

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>